.coffee-timer {
  &__counter {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem;
    border-radius: 50%;
    color: white;
    height: 120px;
    width: 120px;
    font-size: 90px;
    line-height: 90px;
    border-radius: 50%;
    background: linear-gradient(145deg, #2f2f39, #282830);
    box-shadow: 32px 32px 51px #202027, -32px -32px 51px #383843;

    &--running {
      border: 2px dashed #82e6a0;
    }
  }

  p {
    margin: 0;
  }
}
